{{> navbar }}


<div class="containerClothes">
  {{#each dayclothes}}
  {{#each current}}

  <a href="/viewone/{{this.current._id}}" class="">
    <div class="dayclothes-product" id="dayclothes-image"><img src="{{this.image}}" alt="cloth"></div>
    <p class="dayclothes-product">{{this.name}}</p>
    <p class="dayclothes-product">{{this.type}}</p>
    <p class="dayclothes-product">{{this.brand}}</p>
    <p class="dayclothes-product">${{this.price}}</p>
  </a>


  {{/each}}
  {{/each}}
</div>