{{> navbar }}

<div class="containerClothes product-item-wrapper">
  {{#each dayclothes}}
  {{#each current}}

  <a href="/viewone/{{this.current._id}}" class="product-item-wrapper">
    <div class="product-img"><img src="{{this.image}}" alt="cloth">
      <p class="product-name">{{this.name}}</p>
      <p class="product-name">{{this.type}}</p>
      <p class="product-name">{{this.brand}}</p>
      <p class="product-price">${{this.price}}</p>
  </a>


  {{/each}}
  {{/each}}
</div>