{{> navbar }}

<div class="big-container product-manage-wrapper flexed-item">
    <form method="post" action="/manage" class="add-product-form" enctype="multipart/form-data">
        <h3 class="form-title">Add Youre Clothes to the collection</h3>

        <label for="clothes-pic" class="label-name label">Clothes picture</label>
        <input type="file" class="input-text input" name="image">



        <div class="form-item-wrapper flexed-item">
            <label for="clothes-name" class="label-name label">Clothes name</label>
            <input type="text" class="input-text input" value="Black Tee-Shirt" name="name">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="brand" class="label-ref label">Brand </label>
            <input type="text" class="input-text input" value="Nike" name="brand">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="clothes-size" class="label-ref label">Size</label>
            <input type="text" class="input-text input" value="M" name="size">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="cloth-type" class="label-ref label">Type</label>
            <select name="typeCat" id="secondary_category" class="select">
                <option value="">Create Youre Clothes Type...</option>
                {{#each types}}
                <option value="{{this._id}}"> {{this.name}}</option>
                {{/each}}
            </select>

        </div>
        {{!-- <div class="form-item-wrapper flexed-item">
            <label for="clothes-category" class="label-ref label">Category</label>
            <input type="text" class="input-text input" placeholder="Tee-shirt" name="category">
        </div> --}}
        <div class="form-item-wrapper flexed-item">
            <label for="clothes-price" class="label-ref label">Price</label>
            <input type="number" class="input-text input" value="30" name="price">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="clothes-addeddate" class="label-ref label">Added Date</label>
            <input type="date" class="input-text input" value="10-07-2019" name="addeddate">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="clothes-season" class="label-ref label">Season</label>
            <input type="text" class="input-text input" value="Summer" name="season">
        </div>

        <div class="form-item-wrapper flexed-item">
            <label class="label">Collection</label>
            <select name="collec" id="secondary_category" class="select">

                <option value="">Choose a collection to youre clothe...</option>
                {{#each collection}}
                <option value="{{this._id}}"> {{this.label}}</option>
                {{/each}}
            </select>
        </div>
        <button class="button-primary add-sneacker-btn">Add to collection</button>
    </form>

    <form action="/collection" method="POST" class="add-category-form">
        <h3 class="form-title">Add collection</h3>
        <div class="form-item-wrapper flexed-item">
            <label for="category-name" class="category-name label">Create a new collection</label>
            <input type="text" class="input" name="label" placeholder="ex: Party">
        </div>
        {{#if message}}
        <div>
            <h3>{{message}}</h3>
        </div>
        {{/if}}
        <button class="button-primary add-category-btn">Create this category</button>
    </form>
</div>